* {
    
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
button {
    margin: 20px;
    padding: 20px;
   
}
button:hover {
    background-color: lightgrey;
}

.square {
    border: solid 1px  black;
    aspect-ratio: 1/1;
}

.sketch {
    display: flex;
    width: 40vw;
    aspect-ratio: 1/1;
    flex-wrap: wrap;
    margin: 40px;
}